.setValueButton,
.getValueButton {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}

.setValueButton {
  background-color: #0084dd;
}

.getValueButton {
  background-color: #FFB700;
}
