@import 'assets/partial';
.userListView {
  .title {
    @include set-font(30px, white, $fontweight-bold);
  }
  table {
    width: 100%;
    border-spacing: 10px;
    background-color: $march-container-gray;
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.5s ease;
    th,
    td {
      padding: 10px 15px;
    }
    th {
      color: white;
    }
    td {
      color: white;
      background-color: $march-content-gray;
    }
  }
}
