@import 'assets/partial';
.contentsContainer {
  text-align: center;
  .title {
    text-align: left;
    @include set-font(30px, white, $fontweight-bold);
  }
  .leftSection {
    display: inline-block;
    margin-right: 20px;
  }
  .rightSection {
    display: inline-block;
  }
  .inputWarpper {
    margin-bottom: 10px;
    span {
      margin-right: 10px;
      @include set-font(20px, white, $fontweight-bold);
    }
    input {
      padding: 10px;
      @include set-font(16px, white, $fontweight-bold);
    }
  }
  .buttonWrapper {
    text-align: center;
  }
  .submitButton {
    display: inline-block;
    padding: 5px 15px;
    background-color: green;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
}
