<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Overwatch</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro:300,400" rel="stylesheet">
        <link href="../css/index.css" rel="stylesheet">
        <link href="../css/reset.css" rel="stylesheet">
    </head>
    <body>
        <% include ./base_nav %>
        
        
        <% include ./base_footer %>
        <script src="../js/index.js"></script>
    </body>
</html>