<footer class="row yoga-footer">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <ul>
                    <li>ABOUT</li>
                    <li>EDUCATION</li>
                    <li>GALLERY</li>
                    <li>NOTICE</li>
                    <li>POLICY</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>YoGa.LAB campus</li>
                    <li>new yoga town, main states</li>
                    <li>st.eldif 7,</li>
                    <li>TT buliding 4th</li>
                    <li>(main) 092 - 123 - 4567</li>
                    <li>(sub/main) 092-4234-4234</li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li>YoGa company</li>
                    <li>represent: yoga fire</li>
                    <li>CTO: yoga toga</li>
                    <li>SN: 847-81-00387</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
</footer>