<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://localhost:3000/">LimiYoga</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://localhost:3000/">Home</a></li>
                    <li><a href="http://localhost:3000/about">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>