<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
  </head>
  <body>
    <% include ../partials/header %>
    <div clss=container>
      <div class="page-haeder m-t-1">
        <h1><%= title %></h1>
      </div>
      <p>Welcome to <%= title %></p>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
  </body>
</html>
